// colors and fonts
$titleColor: rgba(45, 31, 18, 0.4);
$titleColor2: rgba(45, 31, 18, 0.4);
$textColor: rgba(45, 31, 18, 0.4);
$textColor3: rgba(65, 23, 11, 0.5);
$textShadow: rgba(39, 28, 17, 0.5);
$textShedow2: rgb(10, 10, 11, 0.4);
$boxShedow: rgba(0, 8, 40, 0.4);
$boxShedow2: rgba(0, 5, 23, 0.3);
$boxShedow3: rgba(10, 0, 29, 0.4) 0px 10px 25px,
rgba(10, 0, 30, 0.4) 0px 5px 10px;
$boxShedow4: rgba(0, 5, 24, 0.5);
$hoverShedow: 3px 10px 20px rgba(17, 3, 44, 0.4);
$borderColor: rgba(110, 20, 10, 0.3);
$borderColor2: rgba(110, 20, 10, 0.4);
$borderColor3: rgba(86, 85, 85, 0.2);
$placeholder: rgba(110, 20, 10, 0.4);
$placeholder2: rgba(110, 20, 10, 0.5);
$userIconColor: rgba(130, 29, 18, 0.5);
$arrowColor: rgba(45, 31, 18, 0.3);
$arrowHover: rgba(119, 3, 3, 0.5);
$message: rgba(110, 20, 10, 0.4);
$bgColor: rgba(45, 31, 18, 0.5);
$bgColor2: rgba(255, 255, 255, 0.5);
$messageText: rgba(255, 255, 255, 0.3);
$messageBorder: rgba(255, 255, 255, 0.3);






