// colors and fonts
$titleColor: rgba(45, 31, 18, 0.525);
$titleColor2: rgba(45, 31, 18, 0.479);
$textColor: rgba(45, 31, 18, 0.319);
$textColor3: rgba(65, 23, 11, 0.534);
$textShadow: rgba(39, 28, 17, 0.779);
$textShedow2: rgb(10, 10, 11);
$textShedow3: rgba(10, 10, 11, 0.492);
$boxShedow: rgba(0, 5, 24, 0.576);
$boxShedow2: rgba(0, 5, 24, 0.379);
$boxShedow3: rgba(0, 0, 0, 0.437) 0px 14px 28px,
rgba(0, 0, 0, 0.387) 0px 10px 10px;
$boxShedow4: rgba(0, 5, 24, 0.96);
$hoverShedow: 5px 10px 20px rgb(0, 0, 0);
$borderColor: rgba(110, 20, 10, 0.242);
$borderColor2: rgba(110, 20, 10, 0.374);
$borderColor3: rgba(86, 85, 85, 0.211);
$placeholder: rgba(110, 20, 10, 0.485);
$placeholder2: rgba(110, 20, 10, 0.831);
$userIconColor: rgba(130, 29, 18, 0.531);
$arrowColor: rgba(45, 31, 18, 0.227);
$arrowHover: rgba(119, 3, 3, 0.576);
$message: rgba(110, 20, 10, 0.374);
$bgColor: rgba(45, 31, 18, 0.797);
$bgColor2: rgba(255, 255, 255, 0.52);
$messageText: rgba(255, 255, 255, 0.303);
$messageBorder: rgba(255, 255, 255, 0.335);






